<div class="card">
    <img src=<%= data[2] %> class="card_img">
    <div class= "card_container_info">
        <h2 class="card_title"><%=  data[1] %></h2>
        <ul class="card_info">
            <li><%= data[4] %> min</li>
            <li>Serving: <%= data[5] %></li>
        </ul>
        <form action="/recipe" method="POST">
            <input class="card_id" type="id" name="id" value=<%= data[0] %>>
            <input class="card_link" type="submit" value="View Recipe">
        </form>
        <p><%= data[6] %></p>
    </div>
</div>