<img src=<%= data[0][0] %> class="card_img">
<div class= "card_container_info">
    <h2 class="card_title"><% document.getElementByID("card").id %></h2>
    <ul class="card_info">
        <li><%= data[0][0] %> min</li>
        <li>Serving: <%= data[0][0] %></li>
    </ul>
    <form action="/recipe" method="POST">
        <input class="card_id" type="id" name="id" value=<%= data[0][0] %>>
        <input class="card_link" type="submit" value="View Recipe">
    </form>
    <p><%= data[0][0] %></p>
</div>