<div class="card">
    <img src=<%= data[0]['img'] %> class="card_img">
    <div class= "card_container_info">
        <h2 class="card_title"><%=  data[0]['title'] %></h2>
        <ul class="card_info">
            <li><%= data[0]['time'] %> min</li>
            <li>Serving: <%= data[0]['serving'] %></li>
        </ul>
        <form action="/recipe" method="POST">
            <input class="card_id" type="id" name="id" value=<%= data[0]['id'] %>>
            <input class="card_link" type="submit" value="View Recipe">
        </form>
        <p><%= data[0]['description'] %></p>
    </div>
</div>