<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/discover.css">

    <title>Discover Page</title>
</head>
<body>
    <header class="topnav_background" id="navbar">
        <div class="topnav">
            <a href="/home" style="border-width: 0px; padding: 0px;";><img src="images/UMAI-ICON-FINAL-02.svg" class="topnav_img"></a>
            <div class="topnav_links">
                <a>Add Recipe</a>
                <a href="/discover">Discover</a>
                <a href="/userRecipes">Your Recipes</a>
            </div>
        </div>
    </header>

    <div id="filterData" data-filterHeaders="cuisine,vegetarian"></div>

    <div id="discover_container">
        <form id="sidebar_container">
            <h2>Cuisine</h2>
            <div class="filters">
                <input type="checkbox" onClick="card('cuisine','american')">
                <label>American</label>
            </div>
            <div class="filters">
                <input type="checkbox" onClick="card('cuisine','chinese')">
                <label>Chinese</label>
            </div>
            <div class="filters">
                <input type="checkbox" onClick="card('cuisine','japanese')">
                <label>Japanese</label>
            </div>
            <div class="filters">
                <input type="checkbox" onClick="card('cuisine','mexican')">
                <label>Mexican</label>
            </div>
        </form>

        <div id="content_container">
            <div id="header">
                <h1>Welcome <%= name %></h1>
            </div>

            <div id="card_container">
                <% for (let i = 0; i < num_cards; i++) {%>
                    <div class="card" data-cuisine=<%= data[i][9] %> data-vegetarian=<%= data[i][10] %>>
                        <img src=<%= data[i][2] %> class="card_img">
                        <div class= "card_container_info">
                            <h2 class="card_title"><%= data[i][1] %></h2>
                            <ul class="card_info">
                                <li>Servings: <%= data[i][5] %></li>
                                <li>Time: <%= data[i][4] %></li>
                            </ul>
                            <form action="/recipe" method="POST">
                                <input class="card_id" type="id" name="id" value=<%= data[i][0] %>>
                                <input class="card_link" type="submit" value="View Recipe">
                            </form>
                            <p><%= data[i][6] %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>        
    </div>
    <script src="js/sidebar.js"></script>
</body>
</html>